.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.spinner svg {
  animation: spin 800ms linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
